# ======= PROD =======
server { listen 80; 
    server_name netaniadelaiya.com; 
    return 301 https://$host$request_uri; 
}
server {
  listen 443 ssl; 
  server_name netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://frontend-prod:80;
  }
}

server { listen 80; 
    server_name api.netaniadelaiya.com; 
    return 301 https://$host$request_uri; 
}
server {
  listen 443 ssl; 
  server_name api.netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/api.netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/api.netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://backend-prod:80;
  }
}

# ======= UAT =======
server { listen 80; 
    server_name uat-app.netaniadelaiya.com; 
    return 301 https://$host$request_uri; 
}
server {
  listen 443 ssl; 
  server_name uat-app.netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/uat-app.netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/uat-app.netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://frontend-uat:80;
  }
}

server { 
    listen 80; 
    server_name uat-api.netaniadelaiya.com; 
    return 301 https://$host$request_uri; 
}
server {
  listen 443 ssl; 
  server_name uat-api.netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/uat-api.netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/uat-api.netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://backend-uat:80;
  }
}