# PROD ONLY

# redirect http→https
server { listen 80; server_name uat.netaniadelaiya.com; return 301 https://$host$request_uri; }
server { listen 80; server_name uat-api.netaniadelaiya.com; return 301 https://$host$request_uri; }

server {
  listen 443 ssl http2;
  server_name uat.netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/uat.netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/uat.netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://frontend-prod:80;
  }
}

server {
  listen 443 ssl http2;
  server_name uat-api.netaniadelaiya.com;
  ssl_certificate     /etc/letsencrypt/live/uat-api.netaniadelaiya.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/uat-api.netaniadelaiya.com/privkey.pem;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://backend-prod:80;
  }
}
